/* Reset de estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #efefef;
  color: #333;
}

.header {
  background-color: #1a0c97;
  height: 30vh;
  border-bottom: 8px solid #e8d80a;
}

.img-header {
  background-image: url("../img/traços-de-ondas-sem-fundo.png"), radial-gradient(circle, #ffff 0%, #fffec0 100%);
  background-size: cover;
  height: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 1vh;
  border-radius: 0 0 4vw 4vw;
}

.contato {
  height: 5vh;
  color: #ffffff;
  display: flex;
  align-items: center;

  justify-content: space-around;
  margin-top: 0.8vh
}
.login-cadastrar button {
  background-color:#110c72 ;
  color: #ffffff;
  padding: 0.6rem;
  border: 1px solid #808080 ;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  align-items: center;
}



.login-cadastrar button:hover{
  background-color: #1a0c97;
}

.login-cadastrar button img{
  height: 15px;
  
}
.nav-bar {
  background-color: #ffffff;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar button{ 
  background-color:white ;
  color: #1a0c97;
  padding: 10px;
  border: 1px solid #808080 ;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
}
 
.nav-bar button:hover {
  background-color: #e8d80a;
}

.conteudo {
  margin-left: 8vw;
  margin-right: 8vw;
  display: flex;
}

.sidebar{
  border-right: 1px solid #808080
}
.products_container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.produto {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 200px;
  text-align: center;
}

.produto img {
  width: 100%;
  border-radius: 10px;
}

.preco {
  margin: 2px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  color: #d62828;
}

.desconto {
  text-decoration: line-through;
  color: gray;
}

.avaliacao {
  color: gold;
  font-size: 18px;
}

.produto hr {
  margin: 2px auto;
  height: 1px;
  border: none;
  background: linear-gradient(to right, #ffffff, #b0adad, #ffffff);

}

.produto button {
  margin: 4px;
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.produto button:hover {
  background-color: #e8d80a;
}

/* footer {
    text-align: center;
    background: #023e8a;
    color: white;
    padding: 10px;
    margin-top: 20px;
} */

.sidebar {
  width: 200px;
  background-color: #efefef;
  padding: 20px;
  height: 100vh;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 15px;
}

.sidebar nav ul li a,
.sidebar nav ul li button {
  display: block;
  color: black;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.sidebar nav ul li button:hover,
.sidebar nav ul li a:hover {
  background-color: white;
  color: #1a0c97;
  border-radius: 5px;
}